.pagination{
    display: flex;
   list-style: none;
   margin-left: 37%;
    margin-top: 10px;
}

.pagination > li 
{
    padding: 20px;
    cursor: pointer;
    color: #0e661b;
    font-size: 20px;
}

.pagination li.active{
    background-color: rgb(14, 46, 11);
    color: green;
}
